<div class="container">
  <button class="btn btn-outline-primary mt-2" *ngIf="projects" (click)="printNumberOfProject(projects.length)">nbr projects</button>
  <p-table
    [value]="projects"
    responsiveLayout="scroll"
    styleClass="p-datatable-striped"
    *ngIf="projects"
    [paginator]="true"
    [rows]="5"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="{first} - {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[5, 10, 15]"
    class="p-3"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>project name</th>
        <th>description</th>
        <th>priority</th>
        <th>state</th>
        <th>user assigned</th>
        <th>company related</th>
        <th></th><th></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-project>
      <tr>
        <td>{{ project.projectID }}</td>
        <td>{{ project.projectName }}</td>
        <td>{{ project.description }}</td>
        <td>{{ project.priority }}</td>
        <td>{{ project.projectState }}</td>
        <td>
          <ul>
            <li>User ID: {{project.employee.employeeID}}</li>
            <li>{{ project.employee.firstname }} {{ project.employee.lastname }}</li>
            <li>{{ project.employee.email }}</li>
            <li>{{ project.employee.employeeType }}, {{ project.employee.employeeState }}</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>{{ project.company.companyName }} {{ project.company.agency }}</li>
            <li>{{ project.company.companyType }}</li>
          </ul>
        </td>
        <td>
          <button>
            <i
            class="fa fa-pencil"
              style="color: mediumturquoise"
              (click)="onProjectUpdate(project)"
            ></i>
          </button>
        </td>
        <td>
          <button class="btn">
            <i
              class="fa fa-trash"
              style="color: red"
              (click)="onProjectDelete(project.projectID)"
            ></i>
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
