<div class="container">
  <button class="btn btn-outline-primary mt-2" *ngIf="employeesList" 
  (click)="onPrintNumberOfEmployeesEventEmitter(employeesList.length)">nb employees</button>

  <p-table
  [value]="employeesList"
  responsiveLayout="scroll"
  styleClass="p-datatable-striped"
  *ngIf="employeesList"
  [paginator]="true"
  [rows]="4"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="{first} - {last} of {totalRecords} entries"
  [rowsPerPageOptions]="[4, 8, 12]"
  class="p-3"
>
<ng-template pTemplate="header">
  <tr>
    <th>ID</th><th>firstname</th><th>lastname</th><th>email</th><th>address</th><th>hire date</th>
    <th>state</th> <th>type</th> <th></th><th></th><th></th>
  </tr>
</ng-template>

<ng-template pTemplate="body" let-employee>
  <tr>
      <td>{{ employee.employeeID }}</td>
      <td>{{ employee.firstname | titlecase}}</td>
      <td>{{ employee.lastname | titlecase}}</td>
      <td>{{ employee.email | lowercase }}</td>
      <td>
        <ul>
          <li>{{ employee.address.num }} {{ employee.address.street }}</li>
          <li>
            {{ employee.address.pb }}
            {{ employee.address.city }}
          </li>
        </ul>
      </td>
      <td>{{ employee.hireDate | date : "dd-MM-yyyy" }}</td>
      <td>{{ employee.employeeState }}</td>
      <td>{{ employee.employeeType}}</td>
      <td>
        <button class="btn">
          <i
            class="fa fa-pencil"
            style="color: mediumturquoise"
            (click)="onEmployeeUpdate(employee)"
          ></i>
        </button>
      </td>
      <td>
        <button class="btn">
          <i
            class="fa fa-trash"
            style="color: red"
            (click)="onEmployeeDelete(employee.employeeID)"
          ></i>
        </button>
      </td>
      <td>
        <button class="btn">
          <i
            class="fa fa-search"
            style="color: mediumturquoise"
            (click)="onPrintProjectsAssigned(employee.employeeID)">&nbsp;projects
          </i>
        </button>
      </td>

  </tr>
</ng-template>
</p-table>

</div>
